.MuiBadge-badge {
  background: #ff5252 !important;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background: #f1f1f1 !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn {
  padding: 8px 20px !important;
}

.btn svg {
  font-size: 20px;
}


.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-blue:hover {
  background: #3067e5 !important;
}


.btn-sm {
  padding: 6px 20px !important;
  font-size: 13px !important;
}

.btn-lg {
  padding: 8px 20px !important;
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

th.MuiTableCell-root {
  background-color: #f1f1f1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a.active button {
  background: #e8e8e8 !important;
}

.MuiButton-icon svg {
  font-size: 27px !important
}

.css-rizt0-MuiTypography-root {
  font-size: 14px !important;
}

.MuiAppBar-colorPrimary {
  background: #e6e6e6 !important
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  appearance: none;
}

.MuiSelect-select {
  background: #fff !important;
}

.MuiDialog-paper {
  background: #f9fafb !important;
}

.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
  height: 90vh;
  display: flex;
}


.MuiTableBody-root tr:nth-child(even) {
  background: #f1f1f1 !important;
}


button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
  pointer-events: none;
  background: #f1f1f1 !important;
}

.react-international-phone-input {
  width: 100% !important;
}

.react-international-phone-country-selector-button {
  width: 55px !important;
}

.react-international-phone-input-container {
  border: 1px solid rgba(0, 0, 0, 0.1) !important
}

.Mui-focused fieldset legend{
  display: none !important;
}


.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 20px !important;
}

.zoomProductSliderThumbs .swiper-slide {
  padding: 4px 0 !important;
}

.productDetailModal .zoomProductSliderThumbs .swiper-slide {
  padding: 4px 0 !important;
}

.productDetailModal .slider {
  padding-right: 8px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: 0 !important;
  left: 0 !important;
  top: 420px !important;
  width: 100% !important;
  height: 25px !important;
  border-radius: 0px !important;
  transform: none !important;
  margin: 0 !important;
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 0px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  width: 100% !important;
  height: 25px !important;
  border-radius: 0px !important;
  transform: none !important;
  margin: 0 !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after,
.zoomProductSliderThumbs .swiper-button-next:after {
  font-size: 14px !important;
  transform: rotate(90deg) !important;
}

.zoomProductSliderThumbs .swiper-button-prev:hover,
.zoomProductSliderThumbs .swiper-button-next:hover {
  transform: none !important;
}

.swiper-slide .liz{
  height: 600px !important;
  overflow: hidden !important;
}

.swiper-button-prev,
.swiper-button-next {
  svg {
    width: 100% !important;
    height: 50% !important;
  }
}


/* Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 100%;
  height: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

/* Hover effect for arrows */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ffffff;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  transform: scale(1.08);
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 40px !important;
  height: 50px !important;
  min-width: 30px !important;
  top: 55% !important;
}


.smlBtn .swiper-button-prev:after,
.smlBtn .swiper-button-next:after {
  font-size: 10px !important;
  color: #000;
}