.MuiBadge-badge {
  background: #ff5252 !important;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background: #f1f1f1 !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn {
  padding: 8px 20px !important;
}

.btn svg {
  font-size: 20px;
}


.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-blue:hover {
  background: #3067e5 !important;
}


.btn-sm {
  padding: 6px 20px !important;
  font-size: 13px !important;
}

.btn-lg {
  padding: 8px 20px !important;
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

th.MuiTableCell-root {
  background-color: #f1f1f1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a.active button {
  background: #e8e8e8 !important;
}

.MuiButton-icon svg {
  font-size: 27px !important
}

.css-rizt0-MuiTypography-root {
  font-size: 14px !important;
}

.MuiAppBar-colorPrimary {
  background: #e6e6e6 !important
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  appearance: none;
}

.MuiSelect-select {
  background: #fff !important;
}

.MuiDialog-paper {
  background: #f9fafb !important;
}

.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
  height: 90vh;
  display: flex;
}


.MuiTableBody-root tr:nth-child(even) {
  background: #f1f1f1 !important;
}


button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
  pointer-events: none;
  background: #f1f1f1 !important;
}

.react-international-phone-input {
  width: 100% !important;
}

.react-international-phone-country-selector-button {
  width: 55px !important;
}

.react-international-phone-input-container {
  border: 1px solid rgba(0, 0, 0, 0.1) !important
}

.Mui-focused fieldset legend{
  display: none !important;
}