.MuiBadge-badge {
  background: #ff5252 !important;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background: #f1f1f1 !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn {
  padding: 8px 20px !important;
}
.btn svg{
  font-size: 20px;
}


.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-blue:hover {
  background: #3067e5 !important;
}


.btn-sm {
  padding: 6px 20px !important;
  font-size: 13px !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

th.MuiTableCell-root {
  background-color: #f1f1f1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}