@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ff5252;
}

::-webkit-scrollbar-track {
  background: #f5f0f0;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.btn-org {
  background: #ff5252 !important;
  color: #ffffff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}

.link:hover {
  color: #ff5252
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ui button:hover {
  background: none !important;
}

/* Better container spacing */
.homeSlider {
  margin-top: 5px;
}

/* Slider main wrapper */
.sliderHome {
  overflow: visible !important;
  border-radius: 24px;
}

/* Slide items */
.sliderHome .item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.sliderHome .item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 24px;
}

/* Hover zoom effect */
.sliderHome .item:hover img {
  transform: scale(1.03);
}

/* Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

/* Hover effect for arrows */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ffffff;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  transform: scale(1.08);
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.smlBtn .swiper-button-prev:after,
.smlBtn .swiper-button-next:after {
  font-size: 10px !important;
  color: #000;
}



/* Arrow icons */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600;
  color: #333;
}

/* Position adjustments */
.swiper-button-prev {
  left: 20px !important;
  /* move inside */
}

.swiper-button-next {
  right: 20px !important;
  /* move inside */
}


/* Responsive */
@media (max-width: 768px) {
  .sliderHome .item img {
    height: 200px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 16px !important;
  }
}


.homeCatSlider {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  font-size: 18px !important;
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover:after,
.homeCatSlider .swiper-button-next:hover:after {
  color: #ffffff !important;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

footer form input::placeholder {
  font-size: 14px;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}

.MuiFormControlLabel-label{font-size: 13px !important; color: rgba(0, 0, 0, 0.8m );}